.responsive {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: center;
    /* opacity: 0.7; */
  }

  .nav-link {
    padding: 0;
  }

  .dropdown-menu.show {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #fcfcfc;
    border-radius: 10% 10% 20% 20%;
    justify-content: space-between;
  }

  .pastor-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .pastors_item {
    max-width: 256px;
    margin-top: 50px;
    margin-right: 0px; 
  }


  .modal-content {
    width: 900px;
    max-height: 750px;
    margin: auto;
  }

@media only screen and (max-width: 400px){
	
  .modal-content {
    width: 300px;
    margin: auto;
  }
}

.blog_text pre {
  white-space: pre-wrap;
}