.responsive {
    width: 100%;
    min-height: 650px;
    max-height: 650px;
    object-fit: cover;
    object-position: center;
    filter: brightness(70%);
  }

  .nav-link {
    padding: 0;
  }

  .dropdown-menu.show {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #fcfcfc;
    border-radius: 10% 10% 20% 20%;
    justify-content: space-between;
  }

  .pastor-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .pastors_item {
    width: 400px;
    margin-top: 50px;
    margin-right: 0px; 
  }


  .modal-content {
    width: 900px;
    max-height: 750px;
    margin: auto;
  }
  
@media only screen and (max-width: 1000px) {

  .responsive {
    width: 100%;
    margin-top: 80px;
    min-height: 350px;
    max-height: 350px;
  }
	
  .intro {
    padding-top: 30px;
  }

	.intro_content {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  
  .responsive {
    width: 100%;
    margin-top: 50px;;
    min-height: 150px;
    max-height: 150px;
  }

  .logo a span {
    font-size: 14px;
  }

  .modal-content {
    width: 300px;
    margin: auto;
  }

}

.blog_text pre {
  white-space: pre-wrap;
}

.donate {
  margin: 20px;
}

.btn-donate {
  background-color: #800000;
  color: #fcfcfc;
  font-weight: 600;
}


.pastor_name {
  font-size: 16px;
  margin-top: 10px;
}

.pastor_name span {
	font-size: 18px;
	font-weight: 400;
	color: #eb4141;
}

.pastor_image img {     
  display:block;
  margin-left:auto;
  margin-right:auto;
	width: auto;
  height: 300px;
}